.content-anim-left {
    > * {
        animation: anim-left 1s ease-in-out forwards;

        @keyframes anim-left {
            0% {
                opacity: 0;
                margin-left: 5vh;
            }
        
            100% {
                opacity: 1;
                margin-left: 0vh;
            }
        }
    }
}

.content-anim-right {
    > * {
        animation: anim-right 1s ease-in-out forwards;

        @keyframes anim-right {
            0% {
                opacity: 0;
                margin-left: 5vh;
            }
        
            100% {
                opacity: 1;
                margin-left: 0vh;
            }
        }
    }
}

.content-anim-up {
    > * {
        animation: anim-up 1s ease-in-out forwards;

        @keyframes anim-up {
            0% {
                opacity: 0;
                margin-bottom: -5vh;
            }
        
            100% {
                opacity: 1;
                margin-bottom: 0vh;
            }
        }
    }
}

.content-anim-down {
    > * {
        animation: anim-down 1s ease-in-out forwards;

        @keyframes anim-down {
            0% {
                opacity: 0;
                margin-bottom: 5vh;
            }
        
            100% {
                opacity: 1;
                margin-bottom: 0vh;
            }
        }
    }
}

.self-anim-left {
    animation: anim-left 1s ease-in-out forwards;

    @keyframes anim-left {
        0% {
            opacity: 0;
            margin-left: 5vh;
        }
    
        100% {
            opacity: 1;
            margin-left: 0vh;
        }
    }
}

.self-anim-right {
    animation: anim-right 1s ease-in-out forwards;

    @keyframes anim-right {
        0% {
            opacity: 0;
            margin-left: 5vh;
        }
    
        100% {
            opacity: 1;
            margin-left: 0vh;
        }
    }
}

.self-anim-up {
    animation: anim-up 1s ease-in-out forwards;

    @keyframes anim-up {
        0% {
            opacity: 0;
            margin-bottom: -5vh;
        }
    
        100% {
            opacity: 1;
            margin-bottom: 0vh;
        }
    }
}

.self-anim-down {
    animation: anim-down 1s ease-in-out forwards;

    @keyframes anim-down {
        0% {
            opacity: 0;
            margin-bottom: 5vh;
        }
    
        100% {
            opacity: 1;
            margin-bottom: 0vh;
        }
    }
}