div {
    box-sizing: border-box;
    width: 100%;
}

html {
    ::-webkit-scrollbar {
        width: 10px;
    }
    
    ::-webkit-scrollbar-track {
        background: rgb(39, 39, 39);
    }
    
    ::-webkit-scrollbar-thumb {
        background: rgb(66, 66, 66);
    }
}

#HomePage {
    display: flex;
    #Title {
        font-family: 'Raleway', sans-serif;
        position:fixed;
        top: 0;
        left: 0;
        display: flex;
        width: 100%;
        height: 90vh;
        background-color: #747474;
        flex-direction: row;
        align-items: center;
        background-image: url(../images/OxfFrontImage.jpg);
        background-position: -1vw -34vh;

        #MainImage {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            border-radius: 100px;
            margin-left: 40vw;
            width: 15vw;
            height: auto;
            animation: fadeIn 1s 0.4s ease-in-out forwards;

            @keyframes fadeIn {
                0% {
                    margin-left: 40vw;
                }
                100% {
                    margin-left: 16.5vw;
                }
                
            }
        }

        #MainText {
            margin-left: 8vw;

            #OxfAca {
                font-size: 5vw;
                font-weight: bold;
                color: #ffffff;
                letter-spacing: 0.2vw;
                opacity: 0;
                animation: unfadeUp 0.75s 1.25s ease-in-out forwards;
            }

            #OxfAcaSub {
                font-size: 2vw;
                color: #ffffff;
            }
            
            @keyframes unfadeUp {
                0% {
                    margin-top: 8vw;
                    opacity: 0;
                }
                100% {
                    margin-top: 0vw;
                    opacity: 1;
                }
            }
        }
    }

    #About {
        width: 100%;
        height: 50vh;
        left: 0;
        top: 90vh;
        position: absolute;
        background-color: #ffffff;
        display: grid;
        grid-template-columns: 1fr 1fr;
        flex-direction: column;
        align-items: center;
        justify-items: center;
        z-index: 10;    

        #AboutImage {
            background-repeat: no-repeat;
            background-size: contain;
            background-position: center;
            width: 30vw;
            height: auto;
        }

        #AboutLabel {
            font-size: 2vw;
            padding-right: 3vw;
            padding-left: 2vw;
            font-family: 'Monsterrat', sans-serif;
            font-weight: 200;
            color: #000000;
        }
    }

    #Ratings {
        display: flex;
        #USNewsRanking {
            font-family: 'Raleway', sans-serif;
            position: absolute;
            display: flex;
            justify-content: space-around;
            background-color: #0B132B;
            top: 140vh;
            left: 0;
            width: 100%;
            height: 50vh;
            flex-direction: row;
            align-items: center;
            #HSRankings {
                color: white;
                font-weight: bold;
            }
            #NatRankings {
                color: white;
                font-weight: bold;
            }
        }

        #USNewsLabel {
            font-size: 2vw;
            font-family: 'Monsterrat', sans-serif;
            font-weight: 200;
        }
    }
}