#NavbarMain {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 10vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;

    &.transparent {
      background-color: transparent;
      color: white;
      transition: all 0.15s ease-in-out;
      & .navbutton {
        color: white;
        &:hover {
          color: #8b8b8b;
        }
      }
    }

    &.opaque {
      background-color: #ffffff;
      transition: all 0.15s ease-in-out;
      & .navbutton {
        color: black;
        &:hover {
          color: #666666;
        }
      }
    }

    #Topbar {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 80%;
      height: 100%;
  
      #MainImage {
        background-image: url(../images/OxfordLogo.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 10%;
        height: 100%;
      }
  
      .navbutton {
        font-family: "Raleway", sans-serif;
        font-size: 1.5rem;
        font-weight: bold;
        background-color: transparent;
        border: none;
        cursor: pointer;
        transition: all 0.2s ease-in-out;
      }
  
      #School {
        margin-left: 2rem;
      }
  
      #Contact {
        margin-right: 2rem;
      }
    }
  }