.homePage {
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin-top: -12vh;
    align-items: center;

    @media (max-width: 768px) {
        margin-top: -10vh;
    }

    .homePageMain {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        div {
            box-sizing: border-box;
            width: 100%;
        }

        .about {
            background-color: #ffffff;


            .aboutText {
                display: flex;
                flex-direction: row;
                align-items: center;
                padding: 10vh 0;

                @media (max-width: 768px) {
                    flex-direction: column;
                    padding-bottom: 5vh;
                }

                .aboutImage {
                    background-repeat: no-repeat;
                    background-size: contain;
                    background-position: center;
                    width: 30vw;
                    margin-left: 5vw;
                    height: auto;

                    @media (max-width: 768px) {
                        width: 28vh;
                        margin-left: 0;
                        margin-top: 5vh;
                    }
                }

                .aboutLabel {
                    font-size: 2vw;
                    padding-right: 3vw;
                    padding-left: 2vw;
                    font-weight: 500;
                    color: #000000;
                    @media (max-width: 768px) {
                        font-size: 2.8vh;
                        text-align: center;
                    }
                }
            }
        }

        .ratings {
            background-color: #0B132B;
            display: flex;
            flex-direction: row;
            align-items: center;
            padding: 10vh 0;
            text-align: center;

            .usNewsRanking {
                flex-direction: column;

                .ranks {
                    display: flex;
                    justify-content: space-around;
                    margin-top: 5vh;
                    margin-bottom: 10vh;
                    text-align: center;

                    @media (max-width: 768px) {
                        flex-direction: column;
                        align-items: center;
                        font-size: 1.7vh;
                        margin-top: 2vh;
                        margin-bottom: 2vh;
                    }

                    .hsRankings {
                        color: white;
                        font-weight: bold;
                    }

                    .natRankings {
                        color: white;
                        font-weight: bold;
                    }
                }
            }

            .usNewsLabel {
                color: white;
                font-weight: 600;
                font-size: 1.5vw;
                z-index: 1000;

                @media (max-width: 768px) {
                    font-size: 2vh;
                    text-align: center;
                }
            }
        }

        .admissions {
            background-color: rgb(12, 43, 83);

            .admissionsMain {
                flex-direction: column;
                display: flex;
                align-items: center;
                padding: 10vh 0;

                .admissionsLabel {
                    color: white;
                    font-weight: bolder;
                }

                .admissionsText {
                    color: white;
                    font-weight: 300;
                    width: 80%;

                    @media (max-width: 768px) {
                        font-size: 1.2rem;
                        text-align: center;
                    }

                    .admissionsMainLabel,
                    .admissionsOpening {
                        font-weight: 400;
                        @media (max-width: 768px){
                            font-size: 2.5vh;
                        }
                    }

                    .apply {
                        border-radius: 25px;
                        background-color: #ffffff;
                        color: #000000;
                        font-weight: bold;
                        font-size: 1.5vw;
                        padding: 1vw;
                        border: none;
                        font-family: 'Raleway', sans-serif;

                        @media (max-width: 768px) {
                            font-size: 3vh;
                            padding: 0.5rem;
                        }

                        &:hover {
                            cursor: pointer;
                        }
                    }
                }
            }
        }
    }
}