.administrationContent {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    .mainDiv {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

        .adminTitle {
            font-size: 5rem;
            font-weight: 400;
            margin-bottom: 2rem;
            margin-top: 2rem;
        }
    }

    .adminDiv {
        width: 100%;
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-evenly;
        margin-bottom: 2rem;

        .adminDivItem {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            margin-bottom: 2rem;

            .adminImage {
                border-radius: 50%;
                width: 15rem;
                height: 15rem;
                margin-bottom: 1rem;
                background-size: cover;
                background-position: center;
                background-repeat: no-repeat;
            }

            .adminTitleText {
                font-size: 2rem;
                font-weight: 600;
                margin-bottom: 0.5rem;
            }

            .adminName {
                font-size: 1.5rem;
                font-weight: 400;
                margin-bottom: 0.5rem;
            }

            .adminEmail {
                font-size: 1.2rem;
                font-weight: 400;
                margin-bottom: 0.5rem;
            }
        }
    }
}

@media (max-width: 768px) {
    .administrationContent {
        .adminDiv {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            align-content: center;

            .adminDivItem {
                margin-bottom: 3rem;
            }
        }
    }
}