$main-font-size: 1.5rem;
$main-font-weight: bolder;
$main-margin-bottom: 1rem;
$main-display: flex;
$main-flex-direction: column;
$secondary-flex-direction: row;
$main-justify-content: center;
$main-align-items: center;

@mixin flex-center {
    display: $main-display;
    flex-direction: $main-flex-direction;
    justify-content: $main-justify-content;
    align-items: $main-align-items;
}

.bellScheduleMain {
    @include flex-center;
    margin: 2vh 5vw;

    .bellScheduleTitle {
        font-size: 5rem;
        font-weight: 200;
        margin: 2rem 0;
    }

    .bellScheduleText {
        font-size: $main-font-size;
        font-weight: $main-font-weight;
        margin-bottom: $main-margin-bottom;
        @include flex-center;
        flex-direction: $secondary-flex-direction !important;
        justify-content: space-around;
        width: 100%;

        .bellScheduleSection {
            font-size: $main-font-size;
            font-weight: $main-font-weight;
            margin-bottom: $main-margin-bottom;
            @include flex-center;

            .bellScheduleSectionTitle {
                text-align: center;
                font-size: 2.5rem;
                font-weight: 600;
                margin-bottom: $main-margin-bottom;
            }

            .periods {
                font-size: $main-font-size;
                font-weight: $main-font-weight;
                margin-bottom: $main-margin-bottom;
                text-align: center;
                @include flex-center;
            }
        }
    }
}

@media (max-width: 768px) {
    .bellScheduleMain {
        .bellScheduleText {
            font-size: 15vw;
            font-weight: 300;
            margin-bottom: 5vh;
            @include flex-center;
            flex-direction: column !important;
            justify-content: space-around;
            width: 100%;

            .bellScheduleSection {
                font-size: 15vw;
                font-weight: 300;
                margin-bottom: 5vh;
                @include flex-center;

                .bellScheduleSectionTitle {
                    text-align: center;
                    font-size: 7.5vw;
                    font-weight: 300;
                    margin-bottom: 5vh;
                }

                .periods {
                    font-size: 7.5vw;
                    font-weight: 300;
                    margin-bottom: 5vh;
                    text-align: center;
                    @include flex-center;
                }
            }
        }
    }
}