#Calendar {
    width: 100%;

    #CalendarMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-family: 'Raleway', 'san-serif';
        font-size: 5rem;
        font-weight: 700;
    }

    #CalendarContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        #ImportantDates {
            width: 40%;
        }

        #DistrictCalendar {
            width: 40%;
        }
    }
}

@media (max-width: 768px){
    #Calendar {
        #CalendarContent {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            #ImportantDates {
                width: 100%;
            }

            #DistrictCalendar {
                width: 100%;
            }
        }
    }
}