.calendar {
    width: 100%;

    .calendarMain {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-family: 'Raleway', 'san-serif';
        font-size: 5rem;
        font-weight: 700;
    }

    .calendarContent {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-around;
        width: 100%;

        .importantDates {
            width: 40%;
        }

        .districtCalendar {
            width: 40%;
        }
    }
}

@media (max-width: 768px){
    .calendar {
        .calendarContent {
            flex-direction: column;
            align-items: center;
            justify-content: center;

            .importantDates {
                width: 100%;
            }

            .districtCalendar {
                width: 100%;
            }
        }
    }
}