@mixin flex-center {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

@mixin common-styles {
    padding: 0;
    margin: 0;
    background-color: white;
    line-height: 4rem;
    font-size: 2vh;
    text-align: center;
}

.ccDualEnrollment {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .ccdeTitle {
        margin-bottom: 5vh;
        font-family: 'Raleway', 'san-serif';
        font-size: 5rem;
        font-weight: 700;
    }

    .ccDualEnrollmentMain {
        @include flex-center;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        @include common-styles;

        .ccdeMainInfo {
            padding: 0 6vw 0 6vw;
            line-height: 3rem;
            font-size: 1.5vh;
            background-color: white;
            font-weight: 100;
        }
    }

    .ccDualEnrollmentSecondary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;

        .ccdeSecondaryInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 85%;
            height: fit-content;

            .ccdeText {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 40%;
                height: fit-content;
                padding: 0;
                text-align: center;
            }

            .ccde4 {
                color: red;
                font-size: 2.75vh;
            }
        }
    }

    .additionalResources {
        display: flex;
        flex-direction: row;

        .resources {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 33%;
            height: fit-content;
            padding: 0;
            margin: 0;
            background-color: white;
            line-height: 4rem;
            font-size: 2vh;
            text-align: center;
        }
    }

    .dualEnrollmentPathways {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        background-color: white;
        line-height: 4rem;
        font-size: 2vh;
        text-align: center;

        .depSelection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70%;
            height: fit-content;
            padding-left: 2vw;
            margin: 0;
            margin-bottom: 5vh;
            background-color: white;
            line-height: 4rem;
            font-size: 2vh;
            text-align: center;

            .depButton {
                &:first-child {
                    margin-top: 5vh;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-top-color: black;
                }

                &:last-child {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-bottom-color: black;
                }

                background-color: #ffffff;
                border-color: black;
                border-style: solid;
                border-width: 0.2vh;
                width: 100%;
                padding: 1vh 0 1vh 5vw;
                border-bottom-color: transparent;
                display: flex;
                align-items: flex-start;
                font-size: 1.75vh;
                font-family: "Raleway", sans-serif;
                font-weight: 100;
                transition: all 0.3s ease-in-out;
                color: white;
                background-size: cover;
                background-repeat: no-repeat;

                &:hover {
                    background-color: #f5f5f5;
                    font-size: 2.2vh;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                }
            }
        }
    }

    .application {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        background-color: white;
        line-height: 4rem;
        text-align: center;

        .applicationTitle {
            font-size: 4vh;
        }

        .applicationSteps {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 85%;
            height: fit-content;

            .applicationStep {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 45%;
                height: fit-content;
                padding: 0;
                margin: 0;
                line-height: 3rem;
                font-size: 2vh;
                text-align: center;

                .applicationStepNumber {
                    font-size: 5vh;
                    padding: 0;
                    margin: 0 0 1vh 0;
                    line-height: 3rem;
                }

                .applicationStepTitle {
                    margin: 3vw 3vw 3vw 3vw;
                    border-radius: 10px;
                    font-size: 3vh;
                }
            }
        }
    }

    .videoResources {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        background-color: white;
        line-height: 4rem;
        text-align: center;

        .videoResourcesTitle {
            font-size: 4vh;
        }

        .videos {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: fit-content;
            padding: 0;
            margin: 0;
            background-color: white;

            iframe {
                width: 30vw;
                height: 30vh;
            }
        }
    }
}

@media (max-width: 768px) {
    .ccDualEnrollment {
        .ccDualEnrollmentMain {
            .ccdeMainInfo {
                padding: 0 10vw 0 10vw;
                line-height: 2.25rem;
                font-size: 1.25vh;
                background-color: white;
                font-weight: 100;
            }
        }

        .ccDualEnrollmentSecondary {
            .ccdeSecondaryInfo {
                flex-direction: column;

                .ccdeText {
                    width: 80%;
                    font-size: 2.5vh;
                    text-wrap: wrap;
                }
            }
        }

        .additionalResources {
            flex-direction: column;
            .resources {
                width: 100%;
                font-size: 2vh;
            }
        }

        .application {
            .applicationSteps {
                flex-direction: column;

                .applicationStep {
                    width: 100%;
                    font-size: 2.5vh;
                }
            }
        }

        .videoResources {
            .videos {
                flex-direction: column;
                iframe {
                    width: 90vw;
                    height: 40vh;
                    border-radius: 10px;
                    border-style: none;
                }
            }
        }
    }
}