$main-font: 'Raleway', 'sans-serif';
$main-width: 100%;
$main-margin-top-bottom: 4vh;
$site-width: 50%;
$site-margin-top-bottom: 3vh;
$title-font-size: 6vh;
$title-font-weight: 600;

#OxfSiteMap {
    font-family: $main-font;
    width: $main-width;

    #OxfSiteMapMain {
        display: flex;
        flex-direction: column;
        width: $main-width;
        align-items: center;

        #TitleText {
            width: $main-width;
            height: auto;
            font-size: $title-font-size;
            font-weight: $title-font-weight;
            margin-top: $main-margin-top-bottom;
            margin-bottom: $main-margin-top-bottom;
            text-align: center;
        }

        #OxfSite {
            width: $site-width;
            margin-top: $site-margin-top-bottom;
            margin-bottom: $site-margin-top-bottom;
            cursor: pointer;
        }
    }
}