$main-font: 'Raleway', 'sans-serif';
$main-width: 100%;
$main-margin-top-bottom: 4vh;
$secondary-margin-top: 10vh;
$secondary-margin-bottom: 25vh;
$title-font-size: 6vh;
$title-font-weight: 600;
$secondary-font-weight: bolder;

@mixin flex-center {
    display: flex;
    flex-direction: column;
    width: $main-width;
    align-items: center;
}

.staff {
    width: $main-width;
    font-family: $main-font;

    .staffMain {
        @include flex-center;

        .titleText {
            width: $main-width;
            height: auto;
            font-size: $title-font-size;
            font-weight: $title-font-weight;
            margin-top: $main-margin-top-bottom;
            margin-bottom: $main-margin-top-bottom;
            text-align: center;
        }

        .staffSecondary {
            width: $main-width;
            margin-top: $secondary-margin-top;
            margin-bottom: $secondary-margin-bottom;
            text-align: center;
            font-weight: $secondary-font-weight;
        }
    }
}