$animation-duration: 1s;
$animation-timing: ease-in-out;
$animation-margin: 5vh;

@mixin animation-left {
    animation: anim-left $animation-duration $animation-timing forwards;

    @keyframes anim-left {
        0% {
            opacity: 0;
            margin-left: $animation-margin;
        }

        100% {
            opacity: 1;
            margin-left: 0vh;
        }
    }
}

@mixin animation-right {
    animation: anim-right $animation-duration $animation-timing forwards;

    @keyframes anim-right {
        0% {
            opacity: 0;
            margin-left: -$animation-margin;
        }

        100% {
            opacity: 1;
            margin-left: 0vh;
        }
    }
}

@mixin animation-up {
    animation: anim-up $animation-duration $animation-timing forwards;

    @keyframes anim-up {
        0% {
            opacity: 0;
            margin-bottom: $animation-margin;
        }

        100% {
            opacity: 1;
            margin-bottom: 0vh;
        }
    }
}

@mixin animation-down {
    animation: anim-down $animation-duration $animation-timing forwards;

    @keyframes anim-down {
        0% {
            opacity: 0;
            margin-bottom: -$animation-margin;
        }

        100% {
            opacity: 1;
            margin-bottom: 0vh;
        }
    }
}

.content-anim-left, .self-anim-left {
    > * {
        @include animation-left;
    }
}

.content-anim-right, .self-anim-right {
    > * {
        @include animation-right;
    }
}

.content-anim-up, .self-anim-up {
    > * {
        @include animation-up;
    }
}

.content-anim-down, .self-anim-down {
    > * {
        @include animation-down;
    }
}