$main-display: flex;
$main-flex-direction: column;
$main-align-items: center;
$main-justify-content: center;
$main-transition: all 0.3s ease-in-out;
$main-font-family: 'Raleway', sans-serif;
$main-font-size: 1.4vw;
$main-font-weight: bold;
$main-background-color: #f5f5f5;
$main-border: 0;
$main-border-radius: 0;
$main-overflow: hidden;
$main-box-shadow: none;

$secondary-flex-direction: row;
$secondary-background-color: transparent;
$secondary-justify-content: start;

@mixin flex-center {
    display: $main-display;
    flex-direction: $main-flex-direction;
    align-items: $main-align-items;
    justify-content: $main-justify-content;
}

@mixin common-styles {
    display: $main-display;
    background-color: $main-background-color;
    border: $main-border;
    border-radius: $main-border-radius;
    overflow: $main-overflow;
    transition: $main-transition;
}

#CCDualEnrollment {
    transition: all 0.3s ease-in-out forwards;

    #CCDETitle {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        margin-top: 5vh;
        margin-bottom: 5vh;
        font-family: 'Raleway', 'san-serif';
        font-size: 5rem;
        font-weight: 700;
    }

    #CCDualEnrollmentMain {
        @include flex-center;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        @include common-styles;

        #CCDEMainInfo {
            padding: 0 6vw 0 6vw;
            line-height: 3rem;
            font-size: 1.5vh;
            background-color: white;
            font-weight: 100;
        }
    }

    #CCDualEnrollmentSecondary {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;

        #CCDESecondaryInfo {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 85%;
            height: fit-content;

            .CCDEText {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 40%;
                height: fit-content;
                padding: 0;
                text-align: center;
            }

            #CCDE4 {
                color: red;
                font-size: 2.75vh;
            }
        }
    }

    #AdditionalResources {
        display: flex;
        flex-direction: row;

        .resources {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 33%;
            height: fit-content;
            padding: 0;
            margin: 0;
            background-color: white;
            line-height: 4rem;
            font-size: 2vh;
            text-align: center;

        }
    }

    #DualEnrollmentPathways {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        background-color: white;
        line-height: 4rem;
        font-size: 2vh;
        text-align: center;

        #DEPSelection {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            width: 70%;
            height: fit-content;
            padding-left: 2vw;
            margin: 0;
            margin-bottom: 5vh;
            background-color: white;
            line-height: 4rem;
            font-size: 2vh;
            text-align: center;

            .DEPButton {
                &:first-child {
                    margin-top: 5vh;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    border-top-color: black;
                }

                &:last-child {
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                    border-bottom-color: black;
                }

                background-color: #ffffff;
                border-color: black;
                border-style: solid;
                border-width: 0.2vh;
                width: 100%;
                padding: 1vh 0 1vh 5vw;
                border-bottom-color: transparent;
                display: flex;
                align-items: flex-start;
                font-size: 1.75vh;
                font-family: "Raleway",
                sans-serif;
                font-weight: 100;
                transition: all 0.3s ease-in-out;
                color: white;
                background-size: cover;
                background-repeat: no-repeat;

                &:hover {
                    background-color: #f5f5f5;
                    font-size: 2.2vh;
                    font-weight: 500;
                    transition: all 0.3s ease-in-out;
                    cursor: pointer;
                }
            }
        }
    }

    #Application {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        background-color: white;
        line-height: 4rem;
        text-align: center;

        #ApplicationTitle {
            font-size: 4vh;
        }

        #ApplicationSteps {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 85%;
            height: fit-content;

            .ApplicationStep {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 45%;
                height: fit-content;
                padding: 0;
                margin: 0;
                line-height: 3rem;
                font-size: 2vh;
                text-align: center;

                .ApplicationStepNumber {
                    font-size: 5vh;
                    padding: 0;
                    margin: 0 0 1vh 0;
                    line-height: 3rem;
                }

                .ApplicationStepTitle {
                    margin: 3vw 3vw 3vw 3vw;
                    border-radius: 10px;
                    font-size: 3vh;
                }
            }
        }
    }

    #VideoResources {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100%;
        height: fit-content;
        padding: 0;
        margin: 0;
        background-color: white;
        line-height: 4rem;
        text-align: center;

        #VideoResourcesTitle {
            font-size: 4vh;
        }

        #Videos {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: space-around;
            width: 100%;
            height: fit-content;
            padding: 0;
            margin: 0;
            background-color: white;

            iframe {
                width: 30vw;
                height: 30vh;
            }
        }
    }
}

@media (max-width: 768px) {
    #CCDualEnrollment {
        #CCDualEnrollmentMain {
            #CCDEMainInfo {
                padding: 0 10vw 0 10vw;
                line-height: 2.25rem;
                font-size: 1.25vh;
                background-color: white;
                font-weight: 100;
            }
        }

        #CCDualEnrollmentSecondary {
            #CCDESecondaryInfo {
                flex-direction: column;

                .CCDEText {
                    width: 80%;
                    font-size: 2.5vh;
                    text-wrap: wrap;
                }
            }
        }

        #AdditionalResources {
            flex-direction: column;
            .resources {
                width: 100%;
                font-size: 2vh;
            }
        }

        #Application {
            #ApplicationSteps {
                flex-direction: column;

                .ApplicationStep {
                    width: 100%;
                    font-size: 2.5vh;
                }
            }
        }

        #VideoResources {
            #Videos {
                flex-direction: column;
                iframe {
                    width: 90vw;
                    height: 40vh;
                    border-radius: 10px;
                    border-style: none;
                }
            }
        }
    }
}