#VisionSLCS {
    width: 100%;
    font-family: 'Raleway', sans-serif;

    #VisionSLCSMain {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        #TitleText {
            font-size: 2.5vw;
            font-weight: 600;
            margin-top: 3vw;
            margin-bottom: 3vw;
            width: 100%;
            text-align: center;
        }

        #VisionMain {
            width: 100%;
            display: flex;
            padding-left: 5vw;
            padding-right: 5vw;
            text-align: center;
        }

        #SchoolLearnerOutcomes {
            padding-left: 5vw;
            padding-right: 5vw;

            #SchoolMainOutcomes {
                margin-top: 5vh;
                margin-bottom: 5vh;
                font-weight: bold;
            }

            .C5S {
                margin-top: 7.5vh;
                margin-bottom: 7.5vh;
                font-weight: bold;
            }
        }
    }
}