#Footers {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #0B132B;
    color: #FFFFFF;
    font-family: 'Raleway', sans-serif;
    padding-left: 5vw;
    padding-right: 5vw;
    #FooterPagesDefault {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-top: 5vh;
        margin-bottom: 5vh;
        width: 100%;
        #FooterMain {
            display: flex;
            flex-direction: row;
            #FooterLeft {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                float: left;
                align-items: flex-start;
                h1, a {
                    color: #FFFFFF;
                    font-weight: 400;
                    text-decoration: none;
                    margin-bottom: 1vh;
                    font-size: 2.3rem;
                    display: flex;
                    text-align: left; 
                    opacity: 0;
                }
            }

            #FooterRight {
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                float: right;
                align-items: flex-end;
                h1, a {
                    color: #FFFFFF;
                    font-weight: 400;
                    text-decoration: none;
                    margin-bottom: 1vh;
                    font-size: 2.3rem;
                    display: flex;
                    text-align: right;
                    opacity: 0;
                }
            }
        }
    }

    &.visible-class {
        #FooterPagesDefault {
            #FooterMain {
                #FooterLeft {
                    h1, a {
                        animation: fadeAndLeft 0.75s 0.2s ease-in-out forwards;
                        @keyframes fadeAndLeft {
                            0% {
                                opacity: 0;
                                margin-left: -5vw;
                            }

                            100% {
                                opacity: 1;
                                margin-left: 0vw;
                            }
                        }
                    }
                }

                #FooterRight {
                    h1, a {
                        animation: fadeAndRight 0.75s 0.2s ease-in-out forwards;
                        @keyframes fadeAndRight {
                            0% {
                                opacity: 0;
                                margin-right: -5vw;
                            }

                            100% {
                                opacity: 1;
                                margin-right: 0vw;
                            }
                        }
                    }
                }
            }
        }
    }
}