#FooterPagesDefault {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: white;
    position: relative;
    bottom: 0;
    left: 0; /* Add left: 0 to stretch across the entire viewport */
    width: 100%;
    height: 40vh;
    justify-content: space-around;
    
    #FooterMain {
        padding-left: 5vw;
        padding-right: 5vw;
        display: flex;
        justify-content: space-around;
        
        #FooterLabel {
            animation: fadeAndLeft 1s 0.05s ease-in-out forwards;
            
            @keyframes fadeAndLeft {
                0% {
                    opacity: 0;
                    margin-left: 5vh;
                }
                
                100% {
                    opacity: 1;
                    margin-left: 0vh;
                }
            }
        }
        
        #FooterAddress,
        #FooterPhone {
            animation: fadeAndRight 1s 0.05s ease-in-out forwards;
            
            @keyframes fadeAndRight {
                0% {
                    opacity: 0;
                    margin-right: 5vh;
                }
                
                100% {
                    opacity: 1;
                    margin-right: 0vh;
                }
            }
        }
    }
    
    #Alpha {
        #alphaWarning {
            animation: fadeAndUp 1s 0.3s ease-in-out forwards;
            
            @keyframes fadeAndUp {
                0% {
                    opacity: 0;
                    margin-bottom: -2vh;
                }
                
                100% {
                    opacity: 1;
                    margin-bottom: 0vh;
                }
            }
        }
        
        #alphaLabel {
            animation: fadeAndUp 1s 0.3s ease-in-out forwards;
            
            @keyframes fadeAndUp {
                0% {
                    opacity: 0;
                    margin-bottom: -5vh;
                }
                
                100% {
                    opacity: 1;
                    margin-bottom: 0vh;
                }
            }
        }
    }
}

#FooterMain {
    font-family: 'Raleway', sans-serif;
    display: grid;
    justify-content: space-around;
    background-color: #0B132B;
    width: 100%;
    height: 50vh;
    flex-direction: row;
    align-items: center;
    align-content: center;
    
    #FooterLabel {
        color: white;
        font-weight: bold;
        opacity: 0;
    }
    
    #FooterAddress,
    #FooterPhone {
        color: white;
        font-weight: bold;
        opacity: 0;
    }
}

#Alpha {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-around;
    #alphaWarning {
        opacity: 0;
        font-size: 2.5vw;
    }
    
    #alphaLabel {
        opacity: 0;
        font-size: 2.5vw;
    }
}
