$main-font: "Raleway", sans-serif;
$transition-duration: 0.15s;
$navbar-height: 12vh;
$navbar-width: 100vw;
$navbar-z-index: 10000000;
$navbar-button-hover-color: #666666;
$navbar-table-padding: 1vw;
$navbar-table-grid-gap: 20px 50px;
$navbar-table-padding-top: 3vh;
$navbar-table-padding-bottom: 3vh;
$navbar-table-transition-forwards: all $transition-duration ease-in-out 0.3s forwards;
$navbar-table-hidden-transition: all $transition-duration ease-in-out 0.3s forwards;
$navbar-table-hidden-font-size: 0px;
$navbar-table-hidden-button-transition: all $transition-duration ease-in-out 0.12s forwards;

@mixin buttonStyles {
  font-family: $main-font;
  font-size: 1.5rem;
  font-weight: 300;
  background-color: transparent;
  border: none;
  cursor: pointer;
  height: 100%;
  border-radius: 15px;
  transition: all $transition-duration ease-in-out;

  &:hover {
    color: $navbar-button-hover-color;
  }
}

@mixin tableStyles($background-color, $text-color) {
  background-color: $background-color;
  transition: all $transition-duration ease-in-out;
  color: $text-color;

  .navsubbutton {
    &.green {
      color: #00ff00;
    }

    &.red {
      color: #ff0000;
    }

    &:hover {
      color: #8b8b8b;
    }
  }

  @if $background-color ==#ffffff {
    .navsubbutton {
      &.green {
        color: rgb(0, 136, 0) !important;
      }
    }
  }
}


#NavbarMain {
  display: flex;
  justify-content: center;
  align-items: center;
  height: fit-content;
  position: fixed;
  top: 0;
  left: 0;
  padding: 1vh 0 0.5vh 0;
  width: $navbar-width;
  z-index: $navbar-z-index;

  &.transparent {
    background-color: transparent;
    color: white;
    transition: all $transition-duration ease-in-out;

    .navbutton {
      color: white;

      &:hover {
        color: #8b8b8b;
      }
    }
  }

  &.opaque {
    background-color: #ffffff;
    transition: all $transition-duration ease-in-out;

    .navbutton {
      color: black;

      &:hover {
        color: $navbar-button-hover-color;
      }
    }
  }

  #Topbar {
    width: $navbar-width;
    height: 10vh;
    display: grid;
    justify-content: space-between;
    align-items: center;

    #MainButtons {
      display: flex;
      align-items: center;
      width: $navbar-width;
      height: 10vh;
      justify-content: space-around;

      #MainImage {
        background-image: url(../../images/OxfordLogo.png);
        background-repeat: no-repeat;
        background-size: contain;
        width: 5vw;
      }

      .navbutton {
        @include buttonStyles;
      }
    }

    #Tables {
      align-items: center;
      width: $navbar-width;

      .table {
        display: grid;
        transition: all $transition-duration ease-in-out;

        &.transparent {
          @include tableStyles(rgba(0, 0, 0, 0.95), white);
        }

        &.opaque {
          @include tableStyles(#ffffff, #666666);
        }

        &.shown {
          opacity: 1;
          align-items: center;
          justify-content: space-around;
          width: $navbar-width;
          height: min-content;
          transition: $navbar-table-transition-forwards;
          padding-left: $navbar-table-padding;
          padding-right: $navbar-table-padding;
          grid-template-columns: repeat(4, 1fr);
          grid-gap: $navbar-table-grid-gap;
          align-content: space-between;
          color: white;
          padding-top: $navbar-table-padding-top;
          padding-bottom: $navbar-table-padding-bottom;
          transition: $navbar-table-transition-forwards;

          .navtable.navsubbutton {
            @include buttonStyles;
          }
        }

        &.hidden {
          opacity: 0;
          height: 0;
          padding: 0;
          margin: 0;
          font-size: 0;
          transition: $navbar-table-hidden-transition;

          .navtable.navsubbutton {
            font-size: $navbar-table-hidden-font-size;
            background-color: transparent;
            border: none;
            opacity: 0;
            height: 0;
            padding: 0;
            margin: 0;
            transition: $navbar-table-hidden-button-transition;

            &:hover {
              color: $navbar-button-hover-color;
            }
          }
        }
      }
    }
  }

  @media (max-width: 719px) {
    padding: 0vh 0vw 0.5vh 0vw;

    &.transparent {
      background-color: transparent !important;
      color: white !important;
      transition: all $transition-duration ease-in-out;
  
      .navbutton {
        color: white;
        background-color: rgba(0, 0, 0, 0.95) !important;
        padding: 1.5vh 0 !important;
  
        &:hover {
          color: #8b8b8b;
        }
      }
    }

    &.opaque {
      background-color: rgba(255, 255, 255, 1) !important;
      transition: all $transition-duration ease-in-out;
  
      .navbutton {
        color: black !important;
        background-color: #ffffff !important;
  
        &:hover {
          color: $navbar-button-hover-color;
        }
      }
    }  

    #Topbar {
      height: 10vh;

      #MainButtons {
        #MainImage {
          width: 9vh !important;
          background-repeat: no-repeat;
          background-size: cover;
          height: auto;
        }

        #HamburgerButton {
          display: block;
          width: 50vw;
          height: 6vh;
          background-image: url(../../images/hamburger.png);
          background-color: transparent;
          background-size: contain;
          background-repeat: no-repeat;
          background-position: right;
          border: none;
          cursor: pointer;
          transition: all $transition-duration ease-in-out;
        }
      }

      #TableSelector {
        width: 100vw;
        height: fit-content;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;
        transition: all $transition-duration ease-in-out;

        &.hidden {
          display: none;
          opacity: 0;
          height: 0;
          padding: 0;
          margin: 0;
          transition: all $transition-duration ease-in-out;
        }

        .navbutton {
          @include buttonStyles;
          border-radius: 0;
          width: 100%;
          text-align: center;
          border-bottom: 1px solid #666666;
          transition: all $transition-duration ease-in-out;

          &:hover {
            color: $navbar-button-hover-color;
          }
        }
      }
    }
  }
}