$main-font: 'Raleway', sans-serif;
$main-width: 100%;
$main-height: 100vh;
$main-bg-color: #747474;
$logo-margin-left: 40vw;
$logo-width: 15vw;
$logo-animation-duration: 1s;
$logo-animation-delay: 0.5s;
$main-text-margin-left: 8vw;
$main-font-size: 5vw;
$main-font-weight: bold;
$main-font-color: #ffffff;
$main-letter-spacing: 0.2vw;
$sub-font-size: 2vw;
$sub-font-weight: 500;
$animation-duration: 0.75s;
$animation-delay: 1.25s;
$n-animation-delay: 0.2s;

@mixin flex-center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Title {
    font-family: $main-font;
    @include flex-center-row;
    width: $main-width;
    height: $main-height;
    background-color: $main-bg-color;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../images/OxfFrontImage.jpg);
    background-position: -1vw -34vh;
    overflow: hidden;

    #OxfLogo {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        border-radius: 100px;
        margin-left: $logo-margin-left;
        width: $logo-width;
        height: auto;
        animation: fadeIn $logo-animation-duration $logo-animation-delay ease-in-out forwards;

        @keyframes fadeIn {
            0% {
                margin-left: $logo-margin-left;
            }

            100% {
                margin-left: 16.5vw;
            }
        }
    }

    #MainText {
        margin-left: $main-text-margin-left;

        #OxfAcaMain {
            font-size: $main-font-size;
            font-weight: $main-font-weight;
            color: $main-font-color;
            letter-spacing: $main-letter-spacing;
            opacity: 0;

            &.oxf-aca-main {
                animation: unfadeUp $animation-duration $animation-delay ease-in-out forwards;
            }

            &.n-oxf-aca-main {
                animation: unfadeUp $animation-duration $n-animation-delay ease-in-out forwards;
            }
        }

        #OxfAcaSub {
            font-size: $sub-font-size;
            color: $main-font-color;
            font-weight: $sub-font-weight;
            letter-spacing: $main-letter-spacing;
            opacity: 0;

            &.oxf-aca-sub {
                animation: unfadeUp $animation-duration $animation-delay ease-in-out forwards;
            }

            &.n-oxf-aca-sub {
                animation: unfadeUp $animation-duration $n-animation-delay ease-in-out forwards;
            }
        }
    }

    @keyframes unfadeUp {
        0% {
            margin-top: 6vw;
            opacity: 0;
        }

        100% {
            margin-top: 0vw;
            opacity: 1;
        }
    }
}