$main-font: 'Raleway', sans-serif;
$main-width: 100%;
$main-height: 100vh;
$main-bg-color: #747474;
$logo-margin-left: 40vw;
$logo-width: 15vw;
$logo-animation-duration: 1s;
$logo-animation-delay: 0.5s;
$main-text-margin-left: 8vw;
$main-font-size: 5vw;
$main-font-weight: 400;
$main-font-color: #ffffff;
$main-letter-spacing: 0.2vw;
$margin-top: 10vh;
$sub-font-size: 2vw;
$sub-font-weight: 300;
$animation-duration: 0.75s;
$animation-delay: 1.25s;
$n-animation-delay: 0.2s;
$align-left: left;

@mixin flex-center-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#Title {
    font-family: $main-font;
    @include flex-center-row;
    width: $main-width;
    height: $main-height;
    overflow: hidden;
    background-repeat: no-repeat;
    background-size: 225vh;

    @media (max-width: 768px){
        height: 80vh;
        flex-direction: column !important;
    }

    #TitleBackground {
        width: 100%;
        height: 100%;
        position: absolute;
        background-color: rgba(0, 0, 0, 0.6);
    }

    #OxfLogo {
        background-repeat: no-repeat;
        background-size: contain;
        background-position: center;
        margin-left: $logo-margin-left;
        margin-top: $margin-top;
        width: $logo-width;
        height: auto;
        animation: fadeIn $logo-animation-duration $logo-animation-delay ease-in-out forwards;
        z-index: 2;

        &.isHidden {
            display: none;
        }

        @keyframes fadeIn {
            0% {
                margin-left: $logo-margin-left;
            }

            100% {
                margin-left: 16.5vw;
            }
        }
    }

    #MainText {
        margin-left: $main-text-margin-left;
        margin-top: $margin-top;

        #OxfAcaMain {
            font-size: $main-font-size;
            font-weight: $main-font-weight;
            color: $main-font-color;
            letter-spacing: $main-letter-spacing;
            text-align: $align-left;

            opacity: 0;

            &.oxf-aca-main {
                animation: unfadeUp $animation-duration $animation-delay ease-in-out forwards;
            }

            &.n-oxf-aca-main {
                animation: unfadeUp $animation-duration $n-animation-delay ease-in-out forwards;
            }
        }

        #OxfAcaSub {
            font-size: $sub-font-size;
            color: $main-font-color;
            font-weight: $sub-font-weight;
            letter-spacing: $main-letter-spacing;
            text-align: $align-left;

            opacity: 0;

            &.oxf-aca-sub {
                animation: unfadeUp $animation-duration $animation-delay ease-in-out forwards;
            }

            &.n-oxf-aca-sub {
                animation: unfadeUp $animation-duration $n-animation-delay ease-in-out forwards;
            }
        }

        @media (max-width: 768px) {
            margin-left: 0;
            margin-top: 0;

            #OxfAcaMain {
                font-size: 7vh;
                text-align: center;
            }

            #OxfAcaSub {
                font-size: 3vh;
                text-align: center;
            }
            
        }
    }

    @media (max-width: 768px){
        #OxfLogo {
            margin-left: 0;
            margin-top: 38vh;
            width: 20vh;
            height: auto;
            animation: fadeIn $logo-animation-duration $logo-animation-delay ease-in-out forwards;
        }

        #MainText {
            margin-top: 5vh;
            animation: upfadeUp $animation-duration $animation-delay ease-in-out forwards;
            margin-left: 0;
            #OxfAcaMain {
                font-size: 15vw;
                text-align: center;
                word-wrap: break-word;
                text-wrap: wrap;
            }

            #OxfAcaSub {
                font-size: 7vw;
                text-align: center;
                word-wrap: break-word;
                text-wrap: wrap;
            }
        }

        @keyframes fadeIn {
            0% {
                margin-top: 38vh;
            }

            100% {
                margin-top: 27.5vh;
            }
        }

        @keyframes unfadeUp {
            0% {
                margin-top: 6vw;
                opacity: 0;
            }

            100% {
                margin-top: 0vw;
                opacity: 1;
            }
            
        }
    }
    
    @keyframes unfadeUp {
        0% {
            margin-top: 6vw;
            opacity: 0;
        }

        100% {
            margin-top: 0vw;
            opacity: 1;
        }
        
    }
}